body {

}

.center {
vertical-align: middle;
text-align: center;
}
.clear {
clear:both;
}

#menu ul{
float: right;
margin: 0; 
margin-right: 10px;
list-style: none;
}
#menu li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}
#menu li a{
display: block; 
border-left: 1px solid #474655;
border-top: 1px solid #474655;
border-bottom: 1px solid #474655;
background-color: #fff;
padding: 3px;
text-decoration: none;
color: #333;
width: 100px; 
margin: 1px 0px;
text-align: center;
font-size: 14px;
}
#menu li a:hover{
border-left: 1px solid #474655;
border-top: 1px solid #474655;
border-bottom: 1px solid #474655;
background-color: #F3D898;
}
#menu #haji li a{
display: block; 
border: 1px solid #474655;
background-color: #fff;
padding:3px;
text-decoration: none;
color: #333;
width: 100px; 
margin: 1px 0px;
text-align: center;
font-size: 14px;
}
#menu #haji li a:hover{
display: block; 
border: 1px solid #474655;
background-color: #F3D898;
}

#left-contents {
float: left;
}

#right-contents {
float: right;
}

#center-contents {
float: center;
}

#contents {
margin:10px;
}

.video-list {
width:100%;
overflow:visible;
position: relative;
}
.video-list li {
width:196px;
margin-right:10px;
vertical-align:top;
display:inline-block;
}
.video-list li:after {
clear: both;
}
